@font-face {
  font-family: 'MyVikingNormal';
  src:  url('../../assets/font/VikingNormal-36VL.otf') format('woff');
}
.player-container {
  width: 50%;
  height: 4vh;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.button {
  width: 5rem;
  padding: 5px 10px;
  margin-left: 30px;
  font-size: 10px;
  color: white;
  font-family: 'MyVikingNormal';
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #b30000;
  color: #FEFEFE;
}

